<?xml version="1.0" encoding="UTF-8"?>

<configuration status="debug">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd hh:mm:ss} %5p [%c] %m%n"/>
        </Console>

        <RollingFile
                name="rollingFile"
                fileName="C:\\zzz\\application.log"
                filePattern="C:\\zzz\\application.%d{dd-MMM}.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy filePattern="C:\\zzz\\application.%d{dd-MMM-hh}.log.gz" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>

    <loggers>
        <root level="info" additivity="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </root>
    </loggers>

</configuration>
